----learningType=           #odreduje nacin učenja (vrijedonsti: SARL, MARL_cooperative, MARL_competitive, MARL_mixed)
SARL
----mode=                   #odreduje nacin izvodenja (moguce vrijednosti learn ili play)
learn
----mapSize=                #odreduje velicinu mape
20
----snakesPerSim=           #broj zmija unutar jedna simulacije (odreduje broj igraca u play mode)
4
----snakesInitSize=         #pocetna duljina zmije
4

----playSpeed=              #brzina izvodenja u play mode
1.0
----playModePlayer1=        #mode prvog igraca (moguce vrijednosti su Human, Hamilton ili relativan path do spremljenog ai modela)
Human
----playModePlayer2=        #mode drugog igraca (moguce vrijednosti su Human, Hamilton ili relativan path do spremljenog ai modela)
./saves/snake_NN.save
----playModePlayer3=        #mode treceg igraca (moguce vrijednosti su Human, Hamilton ili relativan path do spremljenog ai modela)
./saves/snake_CGP.save
----playModePlayer4=        #mode cetvrtog igraca (moguce vrijednosti su Human, Hamilton ili relativan path do spremljenog ai modela)
./saves/snake_GP.save

----populationSize=         #velicina populacije u learn mode (odreduje broj simulacija u generaciji tako da je stvarni broj jedinki ovaj broj pomnozen sa snakesPerSim)
100
----selectionType=          #nacin selekcije kod ucenja (Cuttoff ili Geometric)
Cutoff
----selectionSize=          #broj zmija koje postaju roditelji iduce generacije
5
----crossType=              #nacin krizanja (default ili disable)
default
----mutationChance=         #sansa za mutaciju gena
0.009
----AIModel=                #model kojeg zelimo trenirati (NN, CGP ili GP)
GP

----hiddenLayerDepth=       #dubina skivenog sloja u neuronskoj mrezi
1
----hiddenLayerWidth=       #sirina skivenog sloja u neuronskoj mrezi
10
----activationFunction=     #aktivacijska funkcija u neuronskoj mrezi (moguce vrijednosti: binary step, linear, sigmoid, tanh i relu)
tanh

----numOfRows=              #broj redova u CGP-u
6
----numOfCols=              #broj stupaca u CGP-u
2
----numOfFunctions=         #broj funkcija u CGP-u i GP-u (min 1, max 6)
4
----numOfFunctionArgs=      #broj argumenata funkcije
2

----maxDepth=               #najveca dopustena dubina GP stabla
6